/*
@include font("MyriadPro/Regular", "MyriadPro-Regular");
@mixin myriad(){
    @include font-mixin("MyriadPro-Regular");
}
*/
* {
  outline: none !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  min-width: 1000px; }

.who-block__right_desc li {
  margin:20px;
}

body {
  min-width: 1000px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px; }
@media (max-width: 1010px) {
  body {
    padding: 0 0px !important; } }
body.popup-opened {
  overflow: hidden; }
body.popup-opened .popup-overlay {
  display: block !important; }

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  -moz-transition: color 0.3s linear;
  transition: color 0.3s linear; }
a:hover, a:focus {
  color: inherit;
  text-decoration: none; }

img {
  max-width: 100%; }

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 200px; }

.page-default {
  max-width: 1600px;
  margin: 0 auto; }

.page-wrapper {
  position: relative;
  padding-bottom: 226px;
  min-height: 100%; }

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  color: white;
}
.page-header .container {
  padding: 0;
  width:1200px;
}
@media (max-width: 1230px) {
  .page-header {
    padding: 0 50px; } }
.page-header__inner {
  position: relative; }
.page-header__inner:before, .page-header__inner:after {
  content: " ";
  display: table; }
.page-header__inner:after {
  clear: both; }
.page-header__logo {
  width: 35%;
  font-size: 40px;
  text-align: center;
  vertical-align: top;

  float: left;
  margin-top:30px;
}
.page-header__right {
  width: 65%;
  float: left;
  margin-top:30px;	}
.page-header__nav {
  margin: 0 auto;
  text-align: center;
  width: 100%; }
.page-header__nav_inner {
  overflow: hidden; }
.page-header__nav_inner li {
  float: left; }
.page-header__nav_inner li.active a {
  border-color: #274B69;
  color: #274B69; }
.page-header__nav_inner li a {
  display: block;
  line-height: 50px;
  padding: 0 15px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear; }
.page-header__nav_inner li a:hover {
  border-color: #274B69;
  color: #274B69; }
.page-header__lang {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #dbdddd;
  overflow: hidden; }
.page-header__lang li {
  float: left; }
.page-header__lang li a {
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #87908f; }
.page-header__lang li a.active {
  background-color: #274B69;
  color: #ffffff; }

html, body {
  height: 100%; }

body {
  margin: 0;
  padding: 0; }

.page-wrap {
  min-height: 100%;
  height: auto !important;
  margin-bottom: -226px; }
.page-wrap .page-wrap-inner {
  padding: 0 0 226px 0; }

.page-footer {
  min-height: 226px; }

.page-footer {
  background-color: #222222;
  padding: 65px 0;
  color: #f1f1f1; }
@media (max-width: 1230px) {
  .page-footer {
    padding: 65px 40px; } }
.page-footer__left {
  overflow: hidden;
  display: inline-block;
  vertical-align: top; }
.page-footer__left_logo {
  float: left;
  margin-top: 10px; }
.page-footer__left_info {
  margin-left: 100px;
  font-size: 14px;
  line-height: 24px; }
.page-footer__left_info a {
  color: #274B69; }
.page-footer__left_info a:hover {
  color: #274B69;
  text-decoration: underline; }
.page-footer__right {
  float: right; }
.page-footer__copyright {
  margin-bottom: 40px;
  font-size: 14px; }
.page-footer__social {
  overflow: hidden; }
.page-footer__social li {
  float: left;
  margin-right: 35px; }
.page-footer__social li:last-child {
  margin-right: 0; }
.page-footer__social li a {
  display: block;
  width: 25px;
  height: 25px;
  position: relative; }
.page-footer__social li a:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.page-footer__social li a.fb:before {
  display: block;
  background-color: transparent;
  background-image: url("../images/svg/sprite.svg");
  -moz-background-size: 339px 382px;
  -o-background-size: 339px 382px;
  background-size: 339px 382px;
  width: 8.32px;
  height: 17.09px;
  background-position: -86px -89px; }
.page-footer__social li a.tw:before {
  display: block;
  background-color: transparent;
  background-image: url("../images/svg/sprite.svg");
  -moz-background-size: 339px 382px;
  -o-background-size: 339px 382px;
  background-size: 339px 382px;
  width: 18.91px;
  height: 14.41px;
  background-position: -242px -307px; }
.page-footer__social li a.vk:before {
  display: block;
  background-color: transparent;
  background-image: url("../images/svg/sprite.svg");
  -moz-background-size: 339px 382px;
  -o-background-size: 339px 382px;
  background-size: 339px 382px;
  width: 21.57px;
  height: 12.57px;
  background-position: -295px -356px; }
.page-footer__social li a:hover.fb:before {
  display: block;
  background-color: transparent;
  background-image: url("../images/svg/sprite.svg");
  -moz-background-size: 339px 382px;
  -o-background-size: 339px 382px;
  background-size: 339px 382px;
  width: 8.32px;
  height: 17.09px;
  background-position: -95px -107px; }
.page-footer__social li a:hover.tw:before {
  display: block;
  background-color: transparent;
  background-image: url("../images/svg/sprite.svg");
  -moz-background-size: 339px 382px;
  -o-background-size: 339px 382px;
  background-size: 339px 382px;
  width: 18.91px;
  height: 14.41px;
  background-position: -261px -322px; }
.page-footer__social li a:hover.vk:before {
  display: block;
  background-color: transparent;
  background-image: url("../images/svg/sprite.svg");
  -moz-background-size: 339px 382px;
  -o-background-size: 339px 382px;
  background-size: 339px 382px;
  width: 21.57px;
  height: 12.57px;
  background-position: -317px -369px; }

.popup-overlay {
  position: fixed;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 10000;
  display: none; }

.popup {
  z-index: 100001;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 50px 0;
  left: 0;
  right: 0;
  max-height: 100%;
  overflow: auto;
  overflow-x: hidden; }
.popup-close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  background-color: transparent;
  background-image: url("../images/svg/sprite.svg");
  -moz-background-size: 339px 382px;
  -o-background-size: 339px 382px;
  background-size: 339px 382px;
  width: 35.38px;
  height: 35.376px;
  background-position: -32px -35px; }
.popup-inner {
  background: #fff;
  width: 995px;
  margin: 0 auto;
  position: relative; }
.popup-user {
  padding: 70px 40px 85px; }
.popup-user__title {
  text-align: center;
  font-size: 21px;
  line-height: 30px;
  max-width: 90%;
  margin: 0 auto 60px; }
.popup-user__title b {
  font-weight: 700; }
.popup-user__row {
  margin-bottom: 85px;
  overflow: hidden; }
.popup-user__row:last-child {
  margin-bottom: 0; }
.popup-user__row_img {
  float: left; }
.popup-user__row_info {
  margin-left: 400px;
  padding-right: 30px; }
.popup-user__row_info h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 0 5px; }
.popup-user__row_info h3 span {
  border-bottom: 1px solid #e74c3c; }
.popup-user__row_info p {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 20px; }
.popup-user__row_info p:last-child {
  margin-bottom: 0; }
.popup-user__row_info p a {
  color: #e74c3c;
  text-decoration: none; }
.popup-user__row_info p a:hover {
  text-decoration: underline; }
.popup-trade__body {
  display: table;
  width: 100%; }
.popup-trade__body > div {
  display: table-cell;
  vertical-align: top; }
.popup-trade__info {
  width: 580px;
  background-color: #ffffff;
  padding: 70px 55px 50px; }
.popup-trade__info h2 {
  margin: 0 0 40px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 700; }
.popup-trade__info p {
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 30px; }
.popup-trade__form {
  background-color: #f1f1f1;
  padding: 100px 40px 50px; }
.popup-test__preview {
  padding: 170px 0;
  width: 600px;
  margin: 0 auto;
  text-align: center; }
.popup-test__preview_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  margin-bottom: 50px; }
.popup-test__preview_desc {
  width: 80%;
  margin: 0 auto 50px; }
.popup-test__question {
  width: 630px;
  margin: 0 auto;
  padding: 60px 0 75px; }
.popup-test__question_item .item-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px; }
.popup-test__question_item .item-label {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 30px; }
.popup-test__question_item .item-list li {
  margin-bottom: 25px; }
.popup-test__question_item .item-list li:last-child {
  margin-bottom: 0; }
.popup-test__question_btn {
  margin-top: 70px;
  text-align: center; }
.popup-test__result {
  padding: 80px 0;
  width: 600px;
  margin: 0 auto;
  text-align: center; }
.popup-test__result_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  margin-bottom: 50px; }
.popup-test__result_desc {
  margin: 20px auto; }
.popup-test__result_button {
  margin-top: 20px; }
.popup-market {
  padding: 60px 0 80px; }
.popup-market__inner {
  width: 700px;
  margin: 0 auto;
  position: relative; }
.popup-market__inner .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: 0;
  display: block;
  background-color: transparent;
  background-image: url("../images/svg/sprite.svg");
  -moz-background-size: 339px 382px;
  -o-background-size: 339px 382px;
  background-size: 339px 382px;
  width: 25.75px;
  height: 47.812px;
  background-position: -216px -259px;
  font-size: 0;
  z-index: 1; }
.popup-market__inner .slick-prev {
  left: -120px;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg); }
.popup-market__inner .slick-next {
  right: -120px; }
.popup-market__img {
  text-align: center; }
.popup-market__img span {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  margin-top: 10px; }
.popup-market__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 30px; }
.popup-market__desc {
  font-size: 16px;
  line-height: 30px; }
.popup-market__btn {
  text-align: center;
  margin-top: 50px; }
.popup-reg__title {
  text-align: center;
  padding-top: 65px;
  width: 630px;
  margin: 0 auto;
  padding-bottom: 25px; }
.popup-reg__title h2 {
  font-size: 36px;
  line-height: 100%;
  margin: 0 0 30px; }
.popup-reg__title p {
  margin: 0 0 30px;
  font-size: 16px;
  line-height: 24px; }
.popup-reg__step .form-block {
  width: 100%; }
.popup-reg__step_title {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700; }
.popup-reg__step_icon img {
  display: block;
  margin: 0 auto; }
.popup-reg__step_btn {
  margin-top: 30px;
  text-align: center; }
.popup-reg__step--2 .form-block {
  padding-top: 90px; }
.popup-reg__step--2 .form-block__inner {
  width: 340px;
  margin: 0 auto; }
.popup-reg__step--3 {
  padding: 45px 0; }
.popup-thanks {
  padding: 70px 160px 60px;
  text-align: center; }
.popup-thanks__title {
  font-size: 36px;
  line-height: 100%;
  font-weight: 700;
  margin-bottom: 60px; }
.popup-thanks__icon {
  margin-bottom: 30px; }
.popup-thanks__desc {
  margin-bottom: 45px;
  font-size: 16px;
  line-height: 24px; }

.checkbox {
  padding-top: 13px; }
.checkbox input:not(checked) {
  display: none; }
.checkbox input:not(checked) + label {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  line-height: 24px;
  padding-left: 35px;
  position: relative;
  font-size: 12px; }
.checkbox input:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 24px;
  height: 24px;
  border: 1px solid #cccccc;
  z-index: 1; }
.checkbox input:checked + label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 5px;
  display: block;
  background-color: transparent;
  background-image: url("../images/svg/sprite.svg");
  -moz-background-size: 339px 382px;
  -o-background-size: 339px 382px;
  background-size: 339px 382px;
  width: 17px;
  height: 17px;
  background-position: -15px -18px;
  z-index: 2; }

.radio-input:not(checked) {
  display: none; }

.radio-input:not(checked) + .radio-label {
  position: relative;
  padding-left: 25px;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  color: #888888;
  cursor: pointer;
  display: inline-block;
  vertical-align: top; }
.radio-input:not(checked) + .radio-label:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -9px;
  width: 18px;
  height: 18px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out; }
.radio-input:not(checked) + .radio-label:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -3px;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #fff;
  opacity: 0;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out; }

.radio-input:checked + .radio-label:before {
  border-color: #e74c3c;
  background-color: #e74c3c; }

.radio-input:checked + .radio-label:after {
  opacity: 1;
  background-color: #fff; }

.preloader-block {
  position: relative;
  min-height: 90px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
.preloader-block:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 800; }
.preloader-block__inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 801; }
.preloader-block__inner_circle {
  width: 60px;
  height: 60px;
  border: 2px solid #e4e4e4;
  border-top: 3px solid #e74c3c;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear; }
.preloader-block__inner_text {
  margin-top: 10px;
  color: #ffffff; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5); }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch; }

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("../images/fancybox/fancybox_sprite.png"); }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../images/fancybox/fancybox_loading.gif") center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040; }

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../images/fancybox/blank.gif");
  /* helps IE */
  -webkit-tap-highlight-color: transparent;
  z-index: 8040; }

.fancybox-prev {
  left: 0; }

.fancybox-next {
  right: 0; }

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden; }

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px; }

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px; }

.fancybox-nav:hover span {
  visibility: visible; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto; }

.fancybox-lock body {
  overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: url("../images/fancybox/fancybox_overlay.png"); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* Title helper */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050; }

.fancybox-opened .fancybox-title {
  visibility: visible; }

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center; }

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap; }

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff; }

.fancybox-title-inside-wrap {
  padding-top: 10px; }

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8); }

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("../images/fancybox/fancybox_sprite%402x.png");
    -moz-background-size: 44px 152px;
    -o-background-size: 44px 152px;
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/ }
  #fancybox-loading div {
    background-image: url("../images/fancybox/fancybox_loading%402x.gif");
    -moz-background-size: 24px 24px;
    -o-background-size: 24px 24px;
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/ } }

/* Slider */
.slick-slider {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
.slick-list:focus {
  outline: none; }
.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
.slick-track:before, .slick-track:after {
  content: "";
  display: table; }
.slick-track:after {
  clear: both; }
.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
[dir="rtl"] .slick-slide {
  float: right; }
.slick-slide img {
  display: block;
  margin: 0 auto; }
.slick-slide.slick-loading img {
  display: none; }
.slick-slide.dragging img {
  pointer-events: none; }
.slick-initialized .slick-slide {
  display: block; }
.slick-loading .slick-slide {
  visibility: hidden; }
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-arrow:hover {
  opacity: .7; }

.challenge-block__inner {
  text-align: center; }
.challenge-block__inner:before, .challenge-block__inner:after {
  content: " ";
  display: table; }
.challenge-block__inner:after {
  clear: both; }

.challenge-block__item {
  float: left;
  width: 20%;
    margin-right: 50px;
}
.challenge-block__item_inner {
  position: relative;
  padding-bottom: 75px;
  text-align: left;
  height: 354px;
  width: 280px;
  margin: 0 auto; }
.challenge-block__item .item-icon {
  height: 100px;
  position: relative;
  margin-bottom: 20px; }
.challenge-block__item .item-icon img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.challenge-block__item .item-title {
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 24px;
  text-align:center;
}
.challenge-block__item .item-desc {
  line-height: 24px;
  height: 96px;
  overflow: hidden;
  text-align:center;
}
.challenge-block__item .item-btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; }
.challenge-block__item .item-btn .btn {
  white-space: nowrap;
  width: 100%; }

.markets-block__list {
  overflow: hidden; }

.markets-block__item {
  float: left;
  width: 25%;
  text-align: center;
  position: relative; }
.markets-block__item:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  right: 0;
  background-color: #e1e1e1; }
.markets-block__item:last-child:before {
  display: none; }
.markets-block__item_inner {
  display: inline-block;
  vertical-align: top; }
.markets-block__item_inner:hover .item-desc span {
  border-color: transparent; }
.markets-block__item .item-icon {
  height: 65px;
  position: relative; }
.markets-block__item .item-icon img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.markets-block__item .item-name {
  font-weight: 700;
  text-transform: uppercase; }
.markets-block__item .item-desc span {
  border-bottom: 1px dotted #e74c3c;
  display: inline-block;
  vertical-align: top; }

.markets-block__btn {
  text-align: center;
  margin-top: 60px; }

.how-it-work__inner {
  overflow: hidden; }

.how-it-work__item {
  float: left;
  width: 25%;
  text-align: center;
  position: relative; }
.how-it-work__item:before {
  content: '';
  position: absolute;
  top: 65px;
  right: -55px;
  background: url("../images/icon-next.png") no-repeat;
  width: 110px;
  height: 23px; }
.how-it-work__item:last-child:before {
  display: none; }
.how-it-work__item_inner {
  display: inline;
  vertical-align: top; }
.how-it-work__item_inner:hover .item-desc span {
  border-color: transparent; }
.how-it-work__item .item-label {
  text-transform: uppercase;
  color: #e74c3c;
  font-weight: 700;
  margin-bottom: 10px; }
.how-it-work__item .item-icon {
  margin-bottom: 15px;
  height: 100px;
  position: relative; }
.how-it-work__item .item-icon img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
.how-it-work__item .item-desc {
  font-weight: 600; }
.how-it-work__item .item-desc span {
  border-bottom: 1px solid #e74c3c;
  display: inline-block;
  vertical-align: top; }

.game-block {
  padding: 40px 0 20px;
  background-color: #1f1f26;
  position: relative; }
.game-block--hidden {
  display: none; }
.game-block__range {
  position: absolute;
  right: 12px;
  top: 0;
  bottom: 0;
  display: block;
  z-index: 10;
  width: 40px; }
.game-block__range span {
  display: block;
  text-align: center;
  margin-bottom: 16px;
  font-size: 10px; }
.game-block__preview {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(31, 31, 38, 0.9);
  z-index: 5; }
.game-block__preview_inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center; }
.game-block__preview_title {
  font-size: 36px;
  line-height: 38px;
  font-weight: 700;
  margin-bottom: 45px; }
.game-block__inner {
  width: 865px;
  margin: 0 auto;
  color: #ffffff; }
.game-block__inner:before, .game-block__inner:after {
  content: " ";
  display: table; }
.game-block__inner:after {
  clear: both; }
.game-block__assets {
  width: 140px;
  float: left; }
.game-block__assets_title {
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 10px;
  letter-spacing: 0.1em; }
.game-block__assets_body {
  position: relative; }
.game-block__assets_tooltip {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 100%;
  z-index: 1;
  white-space: nowrap;
  background-color: rgba(250, 242, 0, 0.6);
  height: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 40px;
  line-height: 50px;
  color: #000000;
  font-size: 14px;
  margin-left: 40px; }
.game-block__assets_tooltip:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: -10px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid rgba(250, 242, 0, 0.6); }
.game-block__assets_list li {
  margin-bottom: 5px; }
.game-block__assets_list li:last-child {
  margin-bottom: 0; }
.game-block__assets_list li.active {
  opacity: 1 !important; }
.game-block__assets_list li.active:after {
  display: none; }
.game-block__assets_list li.active a {
  border-color: #00a651; }
.game-block__assets_list li.active a:hover {
  background-color: transparent; }
.game-block__assets_list li a {
  display: block;
  height: 46px;
  line-height: 44px;
  border: 1px solid #36363c;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-left: 45px;
  font-size: 16px;
  position: relative; }
.game-block__assets_list li a:hover {
  background-color: rgba(255, 255, 255, 0.1); }
.game-block__assets_list li a:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%); }
.game-block__assets_list li a.apple:before {
  left: 15px;
  display: block;
  background-color: transparent;
  background-image: url("../images/svg/sprite.svg");
  -moz-background-size: 339px 382px;
  -o-background-size: 339px 382px;
  background-size: 339px 382px;
  width: 15px;
  height: 18px;
  background-position: 0px 0px; }
.game-block__assets_list li a.micro:before {
  left: 15px;
  display: block;
  background-color: transparent;
  background-image: url("../images/svg/sprite.svg");
  -moz-background-size: 339px 382px;
  -o-background-size: 339px 382px;
  background-size: 339px 382px;
  width: 18px;
  height: 18px;
  background-position: -104px -125px; }
.game-block__assets_list li a.neft:before {
  left: 15px;
  display: block;
  background-color: transparent;
  background-image: url("../images/svg/sprite.svg");
  -moz-background-size: 339px 382px;
  -o-background-size: 339px 382px;
  background-size: 339px 382px;
  width: 12px;
  height: 18px;
  background-position: -122px -143px; }
.game-block__assets_list li a.dollar:before {
  left: 15px;
  display: block;
  background-color: transparent;
  background-image: url("../images/svg/sprite.svg");
  -moz-background-size: 339px 382px;
  -o-background-size: 339px 382px;
  background-size: 339px 382px;
  width: 18px;
  height: 18px;
  background-position: -68px -71px; }
.game-block__assets_list.selected li {
  position: relative;
  opacity: 0.3; }
.game-block__assets_list.selected li:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2; }
.game-block__info {
  margin-left: 180px;
  height: 277px;
  background: url("../images/grid-bg.png") no-repeat top left;
  position: relative; }
.game-block__info:after {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  background: #1f1f26;
  content: '';
  display: block; }
.game-block__info_label {
  padding-left: 20px;
  padding-top: 10px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em; }
.game-block__info_price {
  text-transform: uppercase;
  font-size: 10px;
  position: absolute;
  top: 10px;
  right: 80px;
  letter-spacing: 0.1em; }
.game-block__info_price span {
  display: block;
  font-size: 24px;
  color: #00a651;
  font-weight: 700; }
.game-block__info_graph {
  position: absolute;
  top: 35px;
  bottom: 0;
  left: 0;
  right: 47px;
  z-index: 1;
  background-repeat: no-repeat !important;
  background-position: top left; }
.game-block__info_time {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 10px;
  letter-spacing: 0.1em; }
.game-block__btn {
  text-align: center;
  overflow: hidden;
  margin-top: 45px; }
.game-block__btn li {
  display: inline-block;
  vertical-align: top;
  margin-right: 26px; }
.game-block__btn li:last-child {
  margin-right: 0; }
.game-block__step .step-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0; }
.game-block__step .step-line__slider {
  margin: 0 0 10px;
  background-color: #31313c; }
.game-block__step .step-line__slider:before {
  background-color: #00a651; }
.game-block__step .step-line__label {
  color: #ffffff; }
.game-block__step_title {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  margin: 20px 0; }
.game-block__step_icon {
  text-align: center;
  margin: 40px 0; }
.game-block__step_btn {
  text-align: center; }

.game-arrow__buy {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7px 12px 7px;
  border-color: transparent transparent #00a651 transparent; }

.game-arrow__sell {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 7px 0 7px;
  border-color: #d62c1a transparent transparent transparent; }

.who-block {
  display: table;
  width: 100%; }
.who-block > div {
  display: table-cell;
  vertical-align: top;
  width: 50%; }
.who-block__left {
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important; }
.who-block__right {
  padding: 30px 140px 35px 50px;
  background-color: #ffffff; }
.who-block__right_title {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 20px; }
.who-block__right_desc {
  line-height: 30px;
  font-size: 21px; }
.who-block__right_label {
  font-size: 12px;
  line-height: 20px;
  margin-top: 45px;
  text-transform: uppercase;
  letter-spacing: 0.1em; }
.who-block__right_label span {
  display: block;
  font-size: 15px;
  color: #e74c3c;
  font-weight: 700;
  text-transform: none;
  letter-spacing: 0em; }

.prize-block__title {
  font-weight: 700;
  margin-bottom: 20px; }

.prize-block__list {
  text-align: center;
  overflow: hidden; }

.prize-block__item {
  display: block;
  float: left;
  vertical-align: bottom;
  width: 130px;
  margin-right: 20px;
  margin-bottom: 10px; }
@media (max-width: 1230px) {
  .prize-block__item {
    margin-right: 10px;
    width: 100px; } }
.prize-block__item:last-child {
  margin-right: 0; }
.prize-block__item .item-icon {
  margin-bottom: 5px;
  position: relative;
  display: block;
  height: 160px; }
.prize-block__item .item-icon img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }
.prize-block__item .item-text {
  font-size: 10px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  min-height: 28px;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear; }
.prize-block__item:hover .item-text {
  opacity: 1; }

.map-block {
  position: relative;
  height: 640px;
  background: url("../images/map-bg.jpg") no-repeat center;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 1600px;
  overflow: hidden; }
.map-block__title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  position: relative;
  z-index: 2;
  padding-top: 60px; }
.map-block__img {
  position: absolute;
  left: 50%;
  top: 139px;
  -webkit-transform: translateX(-56%);
  -moz-transform: translateX(-56%);
  -ms-transform: translateX(-56%);
  -o-transform: translateX(-56%);
  transform: translateX(-56%);
  width: 1188px;
  z-index: 1; }
.map-block__info {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  bottom: 45px;
  overflow: hidden;
  z-index: 2; }
.map-block__info li {
  float: left;
  margin-right: 30px;
  font-weight: 600; }
.map-block__info li:last-child {
  margin-right: 0; }
.map-block__info li span {
  color: #e74c3c; }
.map-block__points {
  position: absolute;
  top: 140px;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  width: 1000px;
  z-index: 3; }
.map-block__points .container {
  position: relative;
  height: 100%; }
.map-block__points .point-item {
  font-size: 12px;
  position: absolute; }
.map-block__points .point-item:before {
  content: '';
  display: block;
  background-color: transparent;
  background-image: url("../images/svg/sprite.svg");
  -moz-background-size: 339px 382px;
  -o-background-size: 339px 382px;
  background-size: 339px 382px;
  width: 15px;
  height: 18.03px;
  background-position: -280px -337px; }
.map-block__points .point-item--left {
  padding-left: 23px; }
.map-block__points .point-item--left:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  left: 0; }
.map-block__points .point-item--right {
  padding-right: 23px; }
.map-block__points .point-item--right:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 0; }
.map-block__points .point-item--top {
  padding-top: 20px;
  text-align: center; }
.map-block__points .point-item--top:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 0; }

.video-block {
  width: 990px;
  margin: 0 auto;
  margin-bottom: 60px; }
.video-block__inner {
  height: 525px;
  position: relative;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  display: block; }
.video-block__inner:before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  background-color: transparent;
  background-image: url("../images/svg/sprite.svg");
  -moz-background-size: 339px 382px;
  -o-background-size: 339px 382px;
  background-size: 339px 382px;
  width: 74px;
  height: 93px;
  background-position: -142px -166px; }
.video-block__desc {
  margin-top: 15px;
  text-align: center; }

.review-block {
  width: 990px;
  margin: 0 auto; }
.review-block__inner {
  margin: 0 -15px; }
.review-block__inner:before, .review-block__inner:after {
  content: " ";
  display: table; }
.review-block__inner:after {
  clear: both; }
.review-block__item {
  float: left;
  width: 33.33333%;
  padding: 0 15px; }
.review-block__item .item-inner {
  position: relative;
  padding: 0 25px 100px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear; }
.review-block__item .item-inner:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05); }
.review-block__item .item-inner:hover .item-desc {
  max-height: 100%;
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.05), 0 0 0 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.05), 0 0 0 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.05), 0 0 0 0 rgba(0, 0, 0, 0.05); }
.review-block__item .item-img {
  height: 170px;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  margin: 0 -25px 25px; }
.review-block__item .item-title {
  margin-bottom: 30px; }
.review-block__item .item-title__name {
  font-weight: 700;
  margin-bottom: 3px; }
.review-block__item .item-price {
  text-transform: uppercase;
  font-size: 10px; }
.review-block__item .item-price span {
  color: #e74c3c;
  font-weight: 700;
  font-size: 16px;
  display: block;
  margin-top: 3px;
  text-transform: none; }
.review-block__item .item-desc {
  position: absolute;
  left: 0;
  right: 0;
  top: 345px;
  background-color: #ffffff;
  padding: 0 25px 25px;
  line-height: 24px;
  max-height: 48px;
  overflow: hidden;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 1; }

.form-block {
  width: 990px;
  margin: 0 auto;
  position: relative;
  background-color: #f1f1f1;
  padding: 75px 145px 55px; }
.form-block:after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 0;
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 35px solid #fff;
  z-index: 1; }
.form-block__row {
  margin: 0 -15px 65px; }
.form-block__row:before, .form-block__row:after {
  content: " ";
  display: table; }
.form-block__row:after {
  clear: both; }
.form-block__row:last-child {
  margin-bottom: 0; }
.form-block__row_col {
  float: left;
  width: 50%;
  padding: 0 15px;
  position: relative; }
.form-block__btn {
  margin-top: 90px;
  text-align: center; }
.form-block--game {
  background-color: transparent;
  padding-top: 0; }
.form-block--game:after {
  display: none; }
.form-block--game label {
  color: #a9a9aa; }
.form-block--game input {
  color: #ffffff; }
.form-block--login {
  background-color: transparent;
  width: 340px;
  margin: 0 auto;
  padding: 0; }
.form-block--login:after {
  display: none; }
.form-block--login label {
  color: #a9a9aa; }
.form-block--login input {
  color: #ffffff; }
.form-block--login .form-text {
  color: #a9a9aa; }

.partners-block {
  text-align: center; }
.partners-block__item {
  display: inline-block;
  vertical-align: middle;
  height: 110px;
  position: relative;
  min-width: 240px; }
.partners-block__item img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.step-line {
  margin-bottom: 50px; }
.step-line__slider {
  height: 6px;
  background-color: #ebebeb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  margin: 10px 0; }
.step-line__slider:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #e74c3c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
.step-line__label {
  text-align: center; }
.step-line--4 .step-line__slider.step-1:before {
  width: 25%; }
.step-line--4 .step-line__slider.step-2:before {
  width: 50%; }
.step-line--4 .step-line__slider.step-3:before {
  width: 75%; }
.step-line--4 .step-line__slider.step-4:before {
  width: 100%; }
.step-line--3 .step-line__slider.step-1:before {
  width: 33.33333%; }
.step-line--3 .step-line__slider.step-2:before {
  width: 66.66666%; }
.step-line--3 .step-line__slider.step-3:before {
  width: 100%; }
.step-line--mb {
  margin-bottom: 0; }

.subnav {
  border-top: 1px solid #f1f1f1; }
.subnav ul {
  text-align: center; }
.subnav ul > li {
  display: inline-block; }
.subnav ul > li > a {
  color: #797979;
  display: block;
  padding: 22px 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px; }
.subnav ul > li > a:hover, .subnav ul > li > a:focus, .subnav ul > li > a:active {
  color: #e74c3c; }
.subnav ul > li.ui-tabs-active > a {
  position: relative;
  color: #e74c3c; }
.subnav ul > li.ui-tabs-active > a:after {
  content: " ";
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -20px;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  border-color: #fff transparent transparent transparent; }
.subnav.first > ul > li > a {
  font-size: 14px;
  padding: 20px 30px; }

.content {
  background-color: #f1f1f1; }
.content__item {
  padding-top: 50px; }
.content__head {
  margin-bottom: 90px; }
.content__main {
  margin-bottom: 80px; }
.content__main h2 {
  font-size: 36px;
  margin-bottom: 45px; }
.content__punkts {
  max-width: 1000px;
  margin: 0 auto 90px;
  padding-bottom: 35px;
  border-bottom: 3px solid #ebebeb; }
.content__punkts:after {
  content: " ";
  display: table;
  clear: both; }
.content__punkts_item {
  float: left;
  width: 33.33%;
  padding-right: 80px;
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 30px;
  font-weight: 600; }
.content__punkts_item span {
  font-weight: 800; }
.content__punkts_item.item-1 {
  background-image: url("../images/icon__calendar.png"); }
.content__punkts_item.item-2 {
  background-image: url("../images/icon__dollar.png"); }
.content__punkts_item.item-3 {
  background-image: url("../images/icon__load.png"); }
.content__levels {
  max-width: 1000px;
  margin: 0 auto 130px; }
.content__levels h3 {
  font-size: 21px;
  margin-bottom: 30px; }
.content__levels_table {
  width: 100%;
  border: none;
  border-collapse: collapse; }
.content__levels_table > thead > tr {
  background-color: #f1f1f1;
  border-bottom: 1px solid #fff; }
.content__levels_table > thead > tr > th {
  text-align: left;
  font-size: 10px;
  color: #525252;
  padding: 12px 18px;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 0;
  border-color: #f1f1f1; }
.content__levels_table > tbody > tr {
  border-bottom: 1px solid #fff; }
.content__levels_table > tbody > tr > td {
  padding: 14px 18px;
  font-weight: normal; }
.content__levels_table > tbody > tr > td:first-child {
  font-weight: bold; }
.content__levels_table > tbody > tr:nth-child(1) {
  background-color: #e1f4fc; }
.content__levels_table > tbody > tr:nth-child(2) {
  background-color: #baeaf9; }
.content__levels_table > tbody > tr:nth-child(3) {
  background-color: #75d4f0; }
.content__levels_table > tbody > tr:nth-child(4) {
  background-color: #42a8d2; }
.content__levels_table > tbody > tr:nth-child(5) {
  background-color: #2f8fb7; }
.content__levels_table > tbody > tr:nth-child(6) {
  background-color: #1279b7; }

.color_red {
  color: #e74c3c; }

.bg_light-blue {
  background-color: #f7f7f7; }

.bg_white {
  background-color: #fff; }

.bg_gray {
  background-color: #f7f7f7; }

.accordion__head {
  font-size: 21px;
  border-top: 1px solid #f1f1f1;
  padding: 28px 50px 28px 0;
  cursor: pointer;
  font-weight: bold;
  position: relative; }
.accordion__head span {
  border-bottom: 1px dotted #e74c3c; }
.accordion__head:before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  width: 12px;
  background: #e74c3c;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: width .3s,-webkit-transform .3s;
  transition: width .3s,-webkit-transform .3s;
  -o-transition: width .3s,-o-transform .3s;
  -moz-transition: width .3s,transform .3s,-moz-transform .3s;
  transition: width .3s,transform .3s;
  transition: width .3s,transform .3s,-webkit-transform .3s,-moz-transform .3s,-o-transform .3s;
  right: 22px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }
.accordion__head:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  width: 12px;
  background: #e74c3c;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: width .3s,-webkit-transform .3s;
  transition: width .3s,-webkit-transform .3s;
  -o-transition: width .3s,-o-transform .3s;
  -moz-transition: width .3s,transform .3s,-moz-transform .3s;
  transition: width .3s,transform .3s;
  transition: width .3s,transform .3s,-webkit-transform .3s,-moz-transform .3s,-o-transform .3s;
  right: 29px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }
.accordion__head.ui-state-active:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }
.accordion__head.ui-state-active:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.accordion__answer {
  padding-bottom: 28px;
  font-size: 16px;
  padding-right: 50px; }
.accordion__answer.tournament h3 {
  margin-bottom: 7px; }

.container__inner {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 300px; }

.container strong {
  font-weight: 700; }

.font-size_big {
  font-size: 21px; }

.text-center {
  text-align: center; }

.main__item {
  margin-bottom: 45px; }
.main__item h3 {
  margin-bottom: 25px;
  font-size: 21px; }
.main__item p:not(:last-child) {
  margin-bottom: 20px; }

.tabs__sub .tabssub > li {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
.tabs__sub .tabssub > li:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0); }
.tabs__sub .tabssub > li:hover > a {
  color: #000; }
.tabs__sub .tabssub > li > a {
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
  color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.5;
  background-color: #f7f7f7;
  -webkit-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear; }
.tabs__sub .tabssub > li > a:hover {
  opacity: 1; }
.tabs__sub .tabssub > li > a:before, .tabs__sub .tabssub > li > a:after {
  display: none; }
.tabs__sub .tabssub > li > a img {
  display: block;
  margin: 0 auto 35px; }
.tabs__sub .tabssub > li > a span {
  margin-top: 10px;
  display: block;
  font-weight: normal;
  text-transform: none; }
.tabs__sub .tabssub > li.ui-state-active {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%); }
.tabs__sub .tabssub > li.ui-state-active > a {
  opacity: 1;
  color: #000;
  background-color: #fff; }

.head-content {
  padding-top: 80px; }
.head-content h2 {
  margin-bottom: 30px;
  font-size: 36px; }

.tournament__item {
  margin-bottom: 55px;
  font-weight: bold; }
.tournament__item:last-child {
  margin-bottom: 45px; }

.tournament__desc:after {
  content: " ";
  display: table;
  clear: both; }

.tournament__desc_item {
  float: left;
  width: 50%;
  padding-right: 20px;
  margin-bottom: 30px; }

.tournament__desc_head {
  color: #898989;
  margin-bottom: 5px; }

.tournament__price {
  margin-bottom: 40px; }

.tournament__price {
  background-image: url("../images/icon__dollar.png");
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 25px; }

.tabs__table ul {
  font-size: 0; }
.tabs__table ul.ui-tabs-nav > li {
  font-size: 16px; }
.tabs__table ul.ui-tabs-nav > li > a {
  width: 198px;
  border: 1px solid #f1f1f1; }
.tabs__table ul.ui-tabs-nav > li > a img {
  display: none; }
.tabs__table ul.ui-tabs-nav > li.ui-state-active > a {
  background-color: #f1f1f1;
  width: 198px;
  color: #000; }
.tabs__table ul.ui-tabs-nav > li.ui-state-active > a img {
  display: inline-block; }
.tabs__table ul.ui-tabs-nav > li.ui-state-active > a:after {
  display: none; }

.tabs__table_small ul.ui-tabs-nav > li > a {
  width: 160px;
  padding: 22px 20px; }

p.tariff__add-info {
  margin-top: 30px;
  font-weight: normal; }

.padding_top {
  padding-top: 80px; }

.page-ui_toolkit {
  padding-top: 30px;
  padding-bottom: 100px; }
.page-ui_toolkit__title {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px; }
.page-ui_toolkit__section {
  padding: 20px;
  background-color: #f2f2f2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px; }
.page-ui_toolkit__section:last-child {
  margin-bottom: 0; }
.page-ui_toolkit__section .row {
  margin: 0 -10px; }
.page-ui_toolkit__section .row:before, .page-ui_toolkit__section .row:after {
  content: " ";
  display: table; }
.page-ui_toolkit__section .row:after {
  clear: both; }
.page-ui_toolkit__section .row > div {
  float: left;
  width: 25%;
  padding: 0 10px; }
@media (max-width: 767px) {
  .page-ui_toolkit__section .row > div {
    width: 100%; } }
.page-ui_toolkit__section_title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px; }
.page-ui_toolkit__section_list:before, .page-ui_toolkit__section_list:after {
  content: " ";
  display: table; }
.page-ui_toolkit__section_list:after {
  clear: both; }
.page-ui_toolkit__section_list > li {
  margin-bottom: 20px;
  margin-right: 20px;
  float: left; }
.page-ui_toolkit__section_list > li:last-child {
  margin-right: 0;
  margin-bottom: 0; }
.page-ui_toolkit__section_list > li > div {
  min-width: 20px;
  min-height: 20px; }

.btn {
  display: inline-block;
  vertical-align: top;
  border: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none !important;
  min-width: 200px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  padding: 0 30px;
  height: 50px;
  line-height: 50px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  letter-spacing: 0.1em;
  font-size: 14px; }
.btn-red {
    border: 2px solid #85a1c1;
    background-color: #85a1c1;
    border-radius: 6px;
    color:#ffffff;
}

.btn-blue {
    display: inline-block;
    vertical-align: top;
    border: 0;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    transition: all 0.3s linear;
    cursor: pointer;
    text-decoration: none !important;
    min-width: 200px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    letter-spacing: 0.1em;
    font-size: 14px;
    border: 2px solid #85a1c1;
    background-color: #85a1c1;
    border-radius: 6px;
    color:#ffffff;
}
.btn-blue:hover {
    background-color: #5070c1;
    color:#ffffff;
    border: 2px solid #5070c1;
}

.btn-red:hover, .btn-red:focus {
  background-color: #5070c1;
    color:#ffffff;
    border: 2px solid #5070c1;
}
.color_btn {
    color : #ffffff;
}
.btn-red--trans {
  background-color: transparent;
  border: 1px solid #e74c3c;
  line-height: 48px;
  color: #e74c3c; }
.btn-red--trans:hover, .btn-red--trans:focus {
  color: #ffffff;
  background-color: #d62c1a; }
.btn-green {
  background-color: #00a651; }
.btn-green:hover, .btn-green:focus {
  color: #ffffff;
  color: #ffffff;
  background-color: #007338; }
.btn-green--trans {
  background-color: transparent;
  border: 1px solid #00a651;
  line-height: 48px;
  color: #00a651; }
.btn-green--trans:hover, .btn-green--trans:focus {
  color: #ffffff;
  background-color: #007338; }
.btn-transp {
  border: 1px solid #ececec;
  line-height: 48px;
  color: #e74c3c; }
.btn-transp:hover, .btn-transp:focus {
  color: #ffffff;
  background-color: #e74c3c; }
.btn-disabled {
  background-color: #cdcdcd;
  cursor: not-allowed;
  border-color: #cdcdcd;
  color: #fff; }
.btn-disabled:hover, .btn-disabled:focus {
  color: #fff;
  background-color: #cdcdcd;
  border-color: #cdcdcd; }

.form-row {
  margin-bottom: 40px; }
.form-row:last-child {
  margin-bottom: 0; }
.form-row--btn {
  text-align: center; }

.form-input {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 44px;
  border: 0;
  padding: 0;
  border-bottom: 1px solid #a8a8a8;
  background-color: transparent;
  font-size: 24px;
  font-weight: 600;
  padding-right: 25px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s; }
.form-input:focus + .form-label {
  top: -10px; }

.form-label {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  position: absolute;
  top: 15px;
  left: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  cursor: text; }

.form-text {
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 3px;
  font-size: 12px; }

.form-message {
  color: #e74c3c;
  position: absolute;
  left: 0;
  top: 100%;
  margin-top: 3px;
  font-size: 12px; }

.form-field {
  position: relative; }
.form-field--full .form-label {
  top: -10px; }

.form-error .form-input {
  border-color: #e74c3c; }

.form-necessarily:before {
  content: '*';
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 10px;
  color: #e74c3c;
  line-height: 100%;
  font-size: 14px; }

.form-ok:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: 10px;
  display: block;
  background-color: transparent;
  background-image: url("../images/svg/sprite.svg");
  -moz-background-size: 339px 382px;
  -o-background-size: 339px 382px;
  background-size: 339px 382px;
  width: 8px;
  height: 5px;
  background-position: -134px -161px; }

.page-home__block {
  padding: 70px 0; }
.page-home__block--gray {
  background-color: #f7f7f7; }
.page-home__block--pb {
  padding-bottom: 0; }
.page-home__block_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  width: 900px;
  margin: 10px auto 30px; }
.page-home__block_desc {
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  width: 750px;
  margin: 0 auto 45px; }
.page-home__block_desc:last-child {
  margin-bottom: 0; }

.page-home__block_type {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;
  font-style: 900;
}

.page-home__block_underlined {
  text-decoration: underline;
  color: #274b69;
}

.page-home__block_bold {
  font-weight: bold;
}

.page-home__block_list {
  list-style: square;
  font-size: 18px;
  padding-bottom: 50px;
}

.page-home_block_advantages_title {
  margin-bottom: 16px;
  font-weight: bold;
}

.page-home__block_advantages_list {
  list-style: none;
  font-size: 18px;
  padding-bottom: 50px;
}

.page-home__block_advantages_list li:before {
  content: "+";
  margin-right: 4px;
}

.page-home__title {
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  position: relative; }
.page-home__title .container {
  height: 100%;
  position: relative; }
.page-home__title_text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }
.page-home__title_info {
  left: 12%;
  width: 600px;
  color: #ffffff; }
@media (min-width: 1500px) {

  .page-header__logo {
    width: 295px;
    margin: 0px 30px 0 0;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 30;
  }

  .page-header__logo a {
    font-size: 50px;
    font-weight: bold;
  }

  .page-header__right {
    width: 100%;
    margin: 15px 0 0 -330px;
    padding-left: 330px;
    /* font-size: 0; */
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 10;
    float:none;
  }

  .page-header__nav {
    text-align: right;
    position: relative;
    display: inline-block;
    vertical-align: top;
  }

  .page-header__nav_inner {
    text-align: right;
    position: relative;
    display: inline-block;
    vertical-align: top;
  }

  .page-header__nav_inner li {
    margin-right:25px;
  }

  .page-header__nav_inner li a {
    font-size: 20px;
    display: block;
    line-height: 50px;
    padding: 0 15px 25px 15px;
  }

  .page-header__inner {
    text-align: right;
    margin-top: 50px;
  }


  .container {
    max-width:95%!important;
    width:95%!important;
  }

  footer .container {
    max-width: 1200px!important;
  }

  video#video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    max-height: 100%;
    position: relative;
  }

  .teaser.top {
    height: 100vh;
    overflow: hidden;
  }

  .why-block .site-width {
    padding: 120px 0px 0px!important;
  }

  .page-home__block {
    margin-top:100px;
  }
  .page-home__title_info {
    position: absolute;
    top: 450px;
    z-index:100;
  } }
@media (max-width: 1599px) {
  .page-home__title_info {
    z-index:100;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, 0%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, 80%); } }
@media (max-width: 1200px) {
  .page-home__title_info {
    width: 400px; } }
.page-home__title_info .info-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 10px; }
@media (max-width: 1200px) {
  .page-home__title_info .info-title {
    font-size: 30px;
    line-height: 40px; } }
.page-home__title_info .info-desc {
  font-size: 28px;
  line-height: 36px; }
@media (max-width: 1200px) {
  .page-home__title_info .info-desc {
    font-size: 20px;
    line-height: 30px; } }
.page-home__title_info .info-btn {
  margin-top: 45px; }
.page-home__title_name {
  position: absolute;
  bottom: 11%;
  right: 0;
  color: #ffffff; }
@media (max-width: 1290px) {
  .page-home__title_name {
    right: 10px; } }
.page-home__title_name span {
  text-transform: uppercase;
  border-bottom: 1px solid #e74c3c;
  font-weight: 700;
  letter-spacing: 0.1em;
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 14px; }
.page-home__title_name span:hover {
  border-color: transparent; }

.settings {
  background-color: #f1f1f1;
  padding-top: 137px;
  text-align: center; }
.settings__img {
  margin-bottom: 35px; }
.settings__head {
  margin-bottom: 35px; }
.settings__head h2 {
  font-size: 36px; }
.settings__desc {
  font-size: 21px;
  margin-bottom: 35px; }
.settings__social {
  margin-bottom: 100px; }
.settings__social ul li a {
  border: 1px solid #c5c9d4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 58px;
  height: 58px;
  display: block; }
.settings__main {
  text-align: center;
  margin-bottom: 100px; }
.settings__main a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold; }

.social:after {
  clear: both;
  content: " ";
  display: table; }

.social__item {
  display: inline-block;
  margin: 0 5px; }
.social__item a {
  background-position: center -25px;
  background-repeat: no-repeat; }
.social__item a:hover {
  background-position: center 15px; }

.social__fb a {
  background-image: url("../images/social__fb.png"); }
.social__fb a:hover {
  background-color: #4867aa; }

.social__tw a {
  background-image: url("../images/social__tw.png"); }
.social__tw a:hover {
  background-color: #41abe1; }

.social__vk a {
  background-image: url("../images/social__vk.png"); }
.social__vk a:hover {
  background-color: #5b7aa8; }

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 350px;
  width: -webkit-calc(100% - 2em);
  width: -moz-calc(100% - 2em);
  width: calc(100% - 2em);
  vertical-align: top; }

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #f0f0f0;
  color: #7f7f7f;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */ }

.input__field:focus {
  outline: none; }

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #7f7f7f;
  font-weight: bold;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase; }

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%; }

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none; }

.icon {
  color: #ddd;
  font-size: 150%; }

/* Hoshi */
.input--hoshi {
  overflow: hidden;
  display: block;
  margin-bottom: 40px; }

.input__field--hoshi {
  font-size: 16px;
  margin-top: 1em;
  padding: 0.85em 0.15em;
  width: 100%;
  background: transparent;
  color: #595F6E; }

.input__label--hoshi {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0.25em;
  width: 100%;
  height: -webkit-calc(100% - 1em);
  height: -moz-calc(100% - 1em);
  height: calc(100% - 1em);
  text-align: left;
  pointer-events: none; }

.input__label-content--hoshi {
  position: absolute; }

.input__label--hoshi::before,
.input__label--hoshi::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: -webkit-calc(115% - 10px);
  height: -moz-calc(115% - 10px);
  height: calc(115% - 10px);
  border-bottom: 1px solid #7f7f7f; }

.input__label--hoshi::after {
  margin-top: 2px;
  border-bottom: none;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -moz-transition: transform 0.3s, -moz-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s, -moz-transform 0.3s, -o-transform 0.3s; }

.input__label--hoshi-color-1::after {
  border-color: #00aaff; }

.input__label--hoshi-color-2::after {
  border-color: #00ffaa; }

.input__label--hoshi-color-3::after {
  border-color: #ff5500; }

.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
  -webkit-animation: anim-1 0.3s forwards;
  -moz-animation: anim-1 0.3s forwards;
  -o-animation: anim-1 0.3s forwards;
  animation: anim-1 0.3s forwards; }

@-webkit-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(1em, 0, 0);
    transform: translate3d(1em, 0, 0); }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-1em, -40%, 0);
    transform: translate3d(-1em, -40%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0); } }

@-moz-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(2em, 0, 0);
    -moz-transform: translate3d(2em, 0, 0);
    transform: translate3d(2em, 0, 0); }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-2em, -45%, 0);
    -moz-transform: translate3d(-2em, -45%, 0);
    transform: translate3d(-2em, -45%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -45%, 0);
    -moz-transform: translate3d(0, -45%, 0);
    transform: translate3d(0, -45%, 0); } }

@-o-keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(2em, 0, 0);
    transform: translate3d(2em, 0, 0); }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-2em, -45%, 0);
    transform: translate3d(-2em, -45%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -45%, 0);
    transform: translate3d(0, -45%, 0); } }

@keyframes anim-1 {
  50% {
    opacity: 0;
    -webkit-transform: translate3d(2em, 0, 0);
    -moz-transform: translate3d(2em, 0, 0);
    transform: translate3d(2em, 0, 0); }
  51% {
    opacity: 0;
    -webkit-transform: translate3d(-2em, -45%, 0);
    -moz-transform: translate3d(-2em, -45%, 0);
    transform: translate3d(-2em, -45%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, -45%, 0);
    -moz-transform: translate3d(0, -45%, 0);
    transform: translate3d(0, -45%, 0); } }

.form__contact {
  padding: 35px 55px;
  margin-left: 0; }
.form__contact:after {
  content: " ";
  display: table;
  clear: both; }

.form__left {
  float: left;
  width: 50%;
  padding-right: 25px; }
.form__left .form-block__row_col {
  width: 100%; }

.form__right {
  float: left;
  width: 50%;
  padding-left: 25px; }
.form__right .form-block__row_col {
  width: 100%;
  margin-bottom: 50px; }

.form__item {
  margin-bottom: 35px; }

.form__label {
  display: block;
  float: none;
  width: 100%;
  padding: 0; }
.form__label span {
  padding: 1.2em 0 0.5em; }
.form__label_file span {
  padding: 1.9em 0 0; }

.form__textarea {
  height: 154px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: normal;
  padding: 15px;
  border: 1px solid; }

.form__file {
  border-bottom: none; }
.form__file label {
  position: static;
  display: block;
  margin-bottom: 15px; }
.form__file .form-input {
  height: auto;
  margin-top: 10px;
  font-size: 14px;
  font-weight: normal; }

.form__submit {
  clear: both;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 50px !important; }
.form__submit .form-block__row_col {
  margin: 0 auto;
  float: none;
  padding-top: 0; }

.form__new {
  margin-bottom: 20px !important; }
.form__new .form-necessarily:before {
  top: 48px; }
.form__new label {
  position: static;
  margin-bottom: 14px;
  display: block;
  margin-top: 15px; }

.margin_no {
  margin-bottom: 0 !important; }

.padding_no {
  padding-bottom: 0 !important; }

.clearfix {
  clear: both;
  float: none; }

.form-ok__textarea:before {
  display: none; }


.why-block .site-width {
  padding: 80px 0px 0px;
  display: flex;
  justify-content: space-between;
  max-width:100%;
}

.moex-block .site-width {
  max-width:100%;
}

.site-width {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.why-block .h1 {
  font-size: 50px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight:bold;
}

.why-block .h1 span {
  font-weight:300;
}

.why-block .items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 30px;
}
.why-block .item {
  width: 45%;
  margin-bottom: 20px;
}

.why-block .item .icon {
  width: 50px;
  height: 50px;
  margin: 0 0 15px;
}
.why-block .cert {
  flex-shrink: 0;
  width:50%;
  margin-top:0px;
}

.why-block .cert img {
  /* border: #285ff1 15px solid; */
  margin: 0 auto;
  display: block;
  max-width: 100%;
  box-sizing: border-box;
  max-height: 600px;
}

.moex-block .site-width {
  padding: 50px 20px;
}

.moex-block .h1 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight:bold;
}


.moex-block .items {
  width:100%;
  margin:50px auto;
}

.moex-block .item {
  height: 250px;
  margin-bottom: 30px;
  font-size: 15px;
  width: 23%;
  float: left;
  border: #f3f7f5 3px solid;
  margin: 0 1% 20px;
  padding: 30px 10px;
  box-sizing: border-box;
}

.moex-block .item .icon {
  width: 90px;
  height: 90px;
  background-size: contain;
  text-align:center;
  margin:0 auto;
}

.form-block2 {
  background: #383a54;
  color: #fff;
}

.form-block2 .site-width {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.form-block2 .form-left {
  margin-right: 100px;
  max-width: 300px;
}
.form-block2 .form-right {
  width: 48%;
  margin-left: 2%;
  max-width: 300px;
}

.form-block2 .form-left .h1 {
  margin: 50px 0;
  font-size: 40px;
  font-weight:bold;
  text-transform: uppercase;
}

.form-block2 .form-right .h2 {
  text-align: center;
  font-size:24px;
  font-weight: bold;
  margin: 0 0 20px;
  text-transform: uppercase;
}

form .form-control-s {
  position: relative;
}

.form-block2 .form-right input {
  border-color: #f3f7f5;
}

form input, form select {
  display: block;
  width: 100%;
  height: 58px;
  padding: 0 40px 0 20px;
  margin: 0;
  font-size: 120%;
  box-sizing: border-box;
  border: #f3f7f5 2px solid;
  text-align: center;
  outline: none;
}

form .form-control-s i {
  display: none;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 20px;
  top: 23px;
  background-size: contain;
}

form .error-text {
  color: #d4231a;
  font-size: 90%;
  height: 20px;
}



.button {
  display: inline-block;
  border-radius: 27.5px;
  font-family: 'Rubik', Arial;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.4px;
  color: #fff;
  padding: 14px 40px;
  background-color: #285ff1;
  border: #285ff1 2px solid;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  transition: 0.3s all ease;
  outline: 0;
}

.button-red:hover {
  background-color: #a41811;
  border-color: #a41811;
}

.button-red {
  background-color: #d4231b;
  border-color: #d4231b;
  text-transform: uppercase;
}

form .politic a {
  color: #787878;
}

form .politic {
  font-size: 11px;
  color: #787878;
  text-align: center;
  margin: 20px auto 0;
  max-width: 340px;
}

body.template-main .teaser.top {
  height: 100vh;
  overflow: hidden;
}

.teaser.top {
  max-height: 100%;
  position: relative;
}

.teaser img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
}

video#video {
  width: 100vw;

  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

header.header div.logo img {
  width: 200px;
}

.header .main {
  width: 100%;
  margin: 15px 0 0 -330px;
  padding-left: 330px;
  font-size: 0;
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 10;
}

.header {
  width: 100%;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 10;
}


.why-block .text {
  width:50%;
  margin-left:50px;
}

.icon-4-stamp {
  background-image: url(icon-4.png);
}

.icon-4-diploma {
  background-image: url(icon-4-diploma.png);
}

.icon-4-insurance {
  background-image: url(icon-4-insurance.png);
}

.icon-4-no-sound {
  background-image: url(icon-4-no-sound.png);
}

.icon-4-presentation {
  background-image: url(icon-4-presentation.png);
}

.icon-4-network {
  background-image: url(icon-4-network.png);
}


.icon-7-credit-card {
  background-image: url(icon-7-credit-card.png);
}

.icon-7-guarantee {
  background-image: url(icon-7-guarantee.png);
}

.icon-7-online {
  background-image: url(icon-7-online.png);
}

.icon-7-agreement {
  background-image: url(icon-7-agreement.png);
}

.icon-7-technician {
  background-image: url(icon-7-technician.png);
}

.icon-7-command {
  background-image: url(icon-7-command.png);
}

.icon-7-market {
  background-image: url(icon-7-market.png);
}

.icon-7-money {
  background-image: url(icon-7-money.png);
}

.moex-block .item p {
  margin-bottom: 10px;
  margin-left: 0px;
  text-align:center;
  margin-top:10px;
}

.moex-block .item:after {
  display: block;
  content: '';
  clear: both;
}

.moex-block:after {
  display: block;
  content: '';
  clear: both;
}


footer {
  background: #111111;
  padding: 60px 0 120px 0;
  color: rgba(255,255,255,0.7);
  font-size: 14px;
}

footer .container {
  max-width: 1200px;
}

footer .footer-top {
  position: relative;
  z-index: 1;
}

footer .footer-top .footer__items {
  display: flex;
  flex-wrap: wrap;
}

footer .footer-top .footer__items .company-copyright {
  width: 247px;
  margin-right: 53px;
}

footer .footer-top .footer__items .company-copyright .copyright {
  padding-left: 0px;
}

footer .footer-top .footer__items .company-copyright .copyright .years-working {
  margin-top: 10px;
}

footer .footer-top .footer__items .footer__settings {
  display: flex;
  width: 870px;
  justify-content: space-between;
}

footer .footer-top .footer__items .footer__settings .footer__setting .footer__setting-title {
  font-size: 16px;
  margin-bottom: 13px;
}

footer .footer-top .footer__items .footer__settings .footer__setting .footer__setting-items.socials-items {
  display: flex;
  flex-wrap: wrap;
}

footer .footer-top .footer__items .footer__settings .footer__setting .footer__setting-items.socials-items .footer__settings-item {
  font-size: 28px;
  margin-right: 27px;
  color: #85a1c1;
  cursor: pointer;
  transition: color .2s ease-out 0s;
}

footer .footer-top .footer__items .footer__settings .footer__setting .footer__setting-items.socials-items .footer__settings-item:before {
  color: #85a1c1;
  transition: color .2s ease-out 0s;
}

.icon-twitter:before {
  content: "\e90e";
  color: #85a1c1;
}


footer .footer-top .footer__items .footer__settings .footer__setting .footer__setting-title {
  font-size: 16px;
  margin-bottom: 13px;
}

footer .footer-top .footer__items .footer__settings .footer__setting .footer__setting-items.app-items {
  display: flex;
  flex-wrap: wrap;
}

footer .footer-top .footer__items .footer__settings .footer__setting .footer__setting-items.app-items .footer__settings-item {
  margin-right: 12px;
  cursor: pointer;
}

footer .footer-top .footer__items .footer__settings .footer__setting .footer__setting-items.app-items .footer__settings-item [class^="icon-"] {
  font-size: 42px;
}

footer .footer-bottom .footer__items {
  display: flex;
  flex-wrap: wrap;
}

footer .footer-bottom .footer__items .created-info {
  width: 247px;
  margin-right: 53px;
  padding-left: 47px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

footer .footer-bottom .footer__items .created-info .created-info__text {
  line-height: 21px;
}

footer .footer-bottom .footer__items .footer-menus {
  display: flex;
  justify-content: space-between;
  width: 870px;
  margin-top:50px;
}

footer .footer-bottom .footer__items .footer-menus .footer__menu .footer__menu-title {
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: normal;
  letter-spacing: .18em;
  text-transform: uppercase;
  margin-bottom: 13px;
}
footer .footer-bottom .footer__items .footer-menus .footer__menu .footer__menu-item a, footer .footer-bottom .footer__items .footer-menus .footer__menu .footer__menu-item a:visited {
  color: #85a1c1;
  transition: color .2s ease-out 0s;
}

footer .footer-bottom .footer__items .footer-menus .footer__menu .footer__menu-item {
  font-size: 16px;
  margin-bottom: 12px;
}

footer .footer-top .footer__items .footer__settings .footer__setting .footer__setting-items.payment-items .footer__settings-item {
  margin-right: 15px;
  font-size: 19px;
  opacity: .5;
}

.icon-visa:before {
  content: "\e90f";
  color: #fff;
}

@font-face{font-family:"icomoon";src:url(icomoon.ttf) format("truetype")}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e904";
}

.icon-youtube:before {
  content: "\e902";
}

.icon-telegram:before {
  content: "\e903";
}

.icon-apple-store:before {
  content: "\e911";
  color: #85a1c1;
}

.icon-google-play .path7:before {
  content: "\e919";
  margin-left: -2.9091796875em;
  color: #85a1c1;
  opacity: 0.2;
}

footer .footer-top .footer__items .footer__settings .footer__setting .footer__setting-items.app-items .footer__settings-item .icon-google-play [class^="path"]:before {
  margin: 0;
}

footer .footer-top .footer__items .footer__settings .footer__setting .footer__setting-items.app-items .footer__settings-item .icon-google-play [class^="path"] {
  position: absolute;
}

footer .footer-top .footer__items .footer__settings .footer__setting .footer__setting-items.app-items .footer__settings-item:last-child {
  margin-right: 0;
  width: 123px;
}


header.header nav.main ul > li a {
  font-size: 14px;
}

header.header nav.main ul > li {
  margin-right: 15px;
}

.header .main ul > li a::before {
  content: "";
  width: 100%;
  height: 0;
  background-color: #b5a584;
  position: absolute;
  bottom: -7px;
  left: 0;
  z-index: 1;
  transition: height 0.3s;
}

.header .main ul > li a {
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  padding: 0 5px 25px 5px;
  position: relative;
}

header.header nav.main ul {
  text-align: center;
}

.header .main ul {
  text-align: right;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 1420px){
  header.header nav.main {
    padding: 0;
    margin: 0;
  }

  header.header {
    top: 0;
  }

  header.header div.wrapper, div.wrapper {
    width: 1200px;
  }

  .header .wrapper {
    width: 1620px;
    text-align: right;
  }

  .teaser.top {
    height: 100vh;
    overflow: hidden;
  }

  .header .main ul > li {
    margin-right: 20px;
    padding-bottom: 35px;
    display: inline-block;
    position: relative;
  }

}


@media (max-width: 800px){

  .page-header__nav {
    width:100%;
  }

  .page-header .container {
    width:100%;
  }


  .teaser.top .wrapper .desc {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-align-items: center;
    -webkit-align-content: center;
    -webkit-justify-content: center;
  }
  div.teaser.top, video#video {
    height: auto;
    overflow: hidden;
  }

  .site-width {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }

  footer .container {
    max-width:100%;
  }

  .page-header {
    padding:0;
  }

  .page-header__right {
    width:80%;
  }

  .page-header__nav {
    margin-right:0;
  }

  .page-home__block_title {
    width:100%;
  }

  html {
    min-width:100%;
  }

  body {
    min-width:100%;
  }

  .page-home__block_desc {
    width:100%;
  }

  .challenge-block__item {
    width:100%;
    float:none;
  }

  .challenge-block__item_inner {
    width:100%;
    text-align:center;
  }

  .who-block > div {
    width:100%;
    display:block;
    text-align:center;
    padding:0 20px;
  }

  .who-block__right {
    padding:0;
  }

  .moex-block .items {
    width:100%;
    margin:0;
  }

  .moex-block .item p {
    margin:0;
    text-align:center;
  }

  .container {
    width:100%;
    padding: 0;
  }

  .how-it-work__item {
    float:none;
    width:100%;
  }

  .form-block2 .site-width {
    display:block;
  }

  .why-block .site-width {
    display:block;
  }

  .why-block .text {
    width:100%;
    margin:0;
  }

  .why-block .items {
    display:block;
    margin:0 auto;
    text-align:center;
  }

  .why-block .item {
    width:100%;
  }

  .why-block .item .icon {
    margin:0 auto;
  }

  footer .footer-top .footer__items .footer__settings {
    display:block;
    width:100%;
  }

  footer .footer-top .footer__items {
    display:block;
    text-align:center;
  }

  footer .footer-bottom .footer__items .footer-menus {
    width:100%;
    display:block;
  }

  footer .footer-top .footer__items .footer__settings .footer__setting .footer__setting-items.socials-items {
    display:block;
  }

  footer .footer-top .footer__items .footer__settings .footer__setting .footer__setting-items.app-items {
    display:block;
  }

  footer .footer-top .footer__items .company-copyright {
    margin:0;
    width:100%;
  }

  footer .footer-bottom .footer__items {
    display:block;
    text-align:center;
  }

  .form-block2 .form-left {
    margin:0 auto;
    width:100%;
    text-align:center;
  }

  .form-block2 .form-right {
    width:100%;
    margin: 0 auto;
  }

  .moex-block .item .icon {
    float:none;
    text-align:center;
    margin:0 auto;
  }

  .why-block .cert {
    width:100%;
  }

  .page-header__logo {
    width:100%;
    text-align:center;
    margin-top:0;
  }

  .page-header__nav_inner li {
    float:none;
  }

  .page-header__right {
    width:100%;
    text-align:center;
  }

  .page-header__nav_inner li a {
    line-height:20px;
  }

  .page-home__title_info {
    display:none;
  }

  .container {
    width:100%;
  }

  .why-block .h1 {
    text-align:center;
  }

  .challenge-block__item_inner {
    padding-bottom:0;
    height:auto;
  }

  .who-block {
    display:block;
  }


  .moex-block .item {
    width:100%;
    float:none;
  }

}

.ticker {
  position: absolute;
  bottom: 0px;
}

.block-3 {
  margin-top: 30px;
}

.block-3 li {
  margin-top:30px;
}

.block-3__title {
  color: #000000;
  font-size: 36px;
  font-family: 'FuturaPT',Arial,sans-serif;
  line-height: 1;
  font-weight: 700;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  text-align: center;
}
.ol {
  margin-top:15px;
}
.parent-list {
  width:100%;
  font-size: 24px;
  margin-top: 36px;
}
.parent-list p:last-child {
  padding-top: 8px;
}
.list {
  text-align: center;
  padding-top: 6px;
  width: 50px;
  height: 50px;
  border: 2px solid #274b69;
  border-radius: 50%;
  color: #274b69;
  font-weight: 900;
  float:left;
  margin-right:22px;
}


svg {
    fill: rgb(39, 75, 105);
}

.page-header__nav_inner a {
  color: #ffffff;
}

.page-header__nav_inner a:hover {
  text-decoration: none;
}

.page-header__logo a {
  color: #ffffff;
}

.page-header__logo a:hover {
  color: #ffffff;
  text-decoration: none;
}

.mrg-btm {
  text-align: center;
  margin-bottom: 16px;
}

.text-about-trade {
  color: #202022;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.trade-example {
  padding: 0;
  margin-top: 50px;
}

.text-example-trade {
  margin-right: 30px;
  margin-top: 30px;
}

.example-table {
  margin-bottom: 30px;

}

.icon-next {
  background: url("../images/svg/next.svg"), none;
  width: 24px;
  height: 24px;
}

.block-6 {
  margin-top: 30px;
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #f5f5f5;
}

.block-6__title {
  color: #274b69;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  font-family: 'FuturaPT';
  margin-top:15px;
  margin-bottom: 15px;
}

.block-6__text {
  color: #454545;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  font-family: 'FuturaPT';
}

.block-6__button {
  border: 2px solid #274b69;
  background-color: inherit;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: 900;
  color: #274b69;
}

.block-6__button:hover {
  border: 2px solid #274b69;
  background-color: #274b69;
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: 900;
  color: #fff;
}

.block-7 {
  margin-top: 30px;
}

.border-right {
  border-right: 1px solid black;
}
